<configuration>

    <property name="defaultPattern" value="[%d{HH:mm:ss}] [%-5level] %msg%n" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="co.foxdev.foxbot.LogFilter" />
        <encoder>
            <pattern>${defaultPattern}</pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>
